.vscode/**
.vscode-test/**
.gitignore
vsc-extension-quickstart.md

zTrash/
src/test/
test_files/
*.vsix
*.pat
tsconfig.json
*.sh
*.md
!LICENSE.md
src/

**/test/**
**/*.map
**/*.ts
.vscode/**
.git/**
node_modules/**/.bin
coverage/**